<footer id="footer" class="top-space y">

    <div class="footer1">
        <div class="container">
            <div class="row">
                
                <div class="col-md-3 widget">
                    <h3 class="widget-title">Contact</h3>
                    <div class="widget-body">
                        <p>+216 54 14 38 81 <br>
                            <a href="mailto:#">SpringTeam@gmail.com</a><br>
                            <br>
                            Rue H.Thameur, Ariana-2020
                        </p>	
                    </div>
                </div>

                <div class="col-md-3 widget">
                    <h3 class="widget-title">Follow me</h3>
                    <div class="widget-body">
                        
                        <p class="follow-me-icons clearfix">
                            <a href=""><i class="fa fa-twitter fa-2 icon"></i></a>
                            <a href=""><i class="fa fa-dribbble fa-2 icon"></i></a>
                            <a href=""><i class="fa fa-github fa-2 icon"></i></a>
                            <a href=""><i class="fa fa-facebook fa-2 icon"></i></a>
                        </p>
                           
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <h3 class="widget-title">Confidentialité</h3>
                    <div class="widget-body">
                            <p>Chez Qatar20-21, nous reconnaissons l'importance de protéger vos informations personnelles et nous nous engageons à les traiter de manière responsable et en conformité avec les lois en vigueur pour la protection des données dans tous les pays dans lesquels Qatar20-21 est présente.</p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            <a href="#">Home</a> | 
                            <a href="about.html">About</a> |
                            <a href="sidebar-right.html">Sidebar</a> |
                            <a href="contact.html">Contact</a> |
                            <b><a href="signup.html">Sign up</a></b>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right c">
                            Copyright &copy; 2021, Qatar. Designed by <a href="https://www.linkedin.com/in/linda-lamouchi-08252616a/" rel="designer">Lamouchi Linda</a> 
                        </p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

</footer>	