<div class="container">
    <header class="jumbotron">
      <p>{{ content }}</p>
    </header>
  </div>
 
  <div>
    <table class="table">
      <thead>
        <tr class="table-secondary">
        <th scope="row">Team</th>
        <th scope="col">Coach</th>
        <th scope="col" colspan="2">Controle</th>
        </tr>
       </thead>
       <tbody>
       
      <tr> 
       
        <td>Barcelone</td>
        <td>Ena</td>
        <td colspan="2">
         <button>Get more info</button>
        </td>
      </tr>
       
      </tbody>
      
  </table>
  </div>