.jumbotron {
    /* padding: 4rem 2rem; */
    height: fit-content;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    color: black;
    padding-bottom: 2em;
    background-color: #ffc107;
}


.container{
    width: max-content;
}
.column{
    width: 48%;
    margin-right: 1%;
    margin-left: 1%;
    background-color: rgb(230 214 183 / 11%);
}
.btn-warning{
    color: #f1f2f3;
    background-color: #51514e;
    border-color: #353430;
}
.btn-danger {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.table-secondary, .table-secondary>td, .table-secondary>th {
    background-color: #5b79ff08;
    border-color: #5b79ff08;
}