<div class="content">
    <p class="title">Team Info</p>
    <div class="row">
      <div class="column font-weight-light">
       
        Would you like to add a player or change the coach of this list? Please Choose from the Drop-Down list below:
        <br>
        
        <div class="row">
          <div class="colomn">
            <select type="text" [(ngModel)]="selectedObject">
              <option value="0" class="text-muted">-Select a player-</option>
              <option *ngFor='let dl of listItems' class="font-weight-normal" [ngValue]="dl">
                {{dl.firstName}}
                {{dl.lastName}}
              </option>
            </select> 
            <br>
            <button class="btn-warning" (click)='getPlayer()'>Add a player</button>
          </div>
          <div class="colomn" style="padding-left: 20%;">
            <select type="text" [(ngModel)]="selectedCoach">
              <option value="0" class="text-muted">-Select the Coach-</option>
              <option *ngFor='let tcoach of coachList' class="font-weight-normal" [ngValue]="tcoach">
                {{tcoach.firstName}}
                {{tcoach.lastName}}
              </option>
            </select> 
            <br>
            <button class="btn-warning" (click)='getCoach()'>update Coach</button>
          </div>
        </div>
      <br><br><br>
      <div class="badge badge-primary text-wrap" style="width: 6rem;">
        Note :
     </div>
       <br>
      <div class="note font-weight-light">
       If you add a Player X that is aleardy a team member; you should be aware
       that he will be systematically deleted from that team and added to this referred one
      </div>   

      </div>
       <div class="column">
           <div class="card">
           <h3>Coach</h3> 
           <p>
             [Mr/Me] : {{coach.firstName}}
           </p>
           <h3>Players</h3> 
           </div>
           <div>
            <table class="table table-dark" *ngIf="dataPl" max-width='fit-content'> <!-- table-hover-->
              <thead>
                <tr class="table-secondary" style="font-weight: normal;">
                  <th scope="col">idPlayer</th>
                  <th scope="col">firstName</th>
                  <th scope="col">lastName</th>
                  <th scope="col">age</th>
                  <th scope="col">playerRole</th>
                  <th scope="col" colspan="2">Controle</th>
                </tr>
             </thead>
             <tbody>
               
              <tr *ngFor="let player of dataPl | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                  <td>{{player.idPlayer}}</td>
                  <td>{{player.firstName}}</td>
                  <td>{{player.lastName}}</td>
                  <td>{{player.age}}</td>
                  <td>{{player.playerRole}}</td>
                <td colspan="2">
                 
                </td>
              </tr>
               
              </tbody>
            </table>
            <ngb-pagination class="d-flex justify-content-end" [(page)]="page" [pageSize]="pageSize" [collectionSize]="size"></ngb-pagination>
          
          </div>
       </div>  
    </div>



</div>

